audioop-lts==0.2.2
bcrypt==5.0.0
blinker==1.9.0
certifi==2025.8.3
cffi==1.17.1
charset-normalizer==3.4.3
click==8.3.1
colorama==0.4.6
comtypes==1.4.11
distlib==0.4.0
dnspython==2.8.0
filelock==3.18.0
Flask==3.1.2
flask-cors==6.0.1
Flask-JWT-Extended==4.7.1
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
numpy==2.2.6
opencv-python==4.12.0.88
optional-django==0.3.0
pandas==2.3.1
platformdirs==4.3.8
pocketsphinx==5.0.4
PyAudio==0.2.14
pycparser==2.22
PyJWT==2.10.1
pymongo==4.15.4
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
pyttsx3==2.99
pytz==2025.2
python==3.9.18
react==4.3.0
requests==2.32.5
setuptools==80.9.0
six==1.17.0
sounddevice==0.5.2
SpeechRecognition==3.14.3
standard-aifc==3.13.0
standard-chunk==3.13.0
typing_extensions==4.14.1
tzdata==2025.2
urllib3==2.5.0
virtualenv==20.33.1
Werkzeug==3.1.3
